#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo-linkedin {
  height: 3em;
  margin-left: 20px;
  /* padding: 1.5em; */
}

.logo-github {
  height: 3em;
  margin-left: 12px;
}

.resume {
  display: flex;
  align-items: center;
  /* padding-top: 1em; */
  /* margin-top: 20px; */
}

.intro-hello {
  font-size: 3em;
  margin-bottom: 0px;
}

.intro-name {
  font-weight: bold;
  font-size: 1.5em;
}

.intro-blurb {
  font-size: 1.3em;
}

.first-project {
  margin-top: 125px;
}

.project-container {
  /* background-color: #17223e; */
  color: rgba(255, 255, 255, 0.87);
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* width: 90%; */
}

.project-item {
  /* flex: 1; */
}

.project-image {
  width: 315px;
  height: 250px;
  /* height:100%; */
  /* border: 1px solid rgba(255, 255, 255, 0.87); */
}

.project-details {
  /* margin-top: 0; */
  /* padding-top: 0; */
  margin-left: 30px;
  /* text-align: left;  */
  /* font-size: 1.3em; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
}

.project-title {
  margin-top: 0;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

.project-tech {
  margin-top: 0;
  /* color: #ffffff; */
  font-size: 1.1em;
}

.project-description {
  font-size: 1.2em;
}